# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
yolo_train_venv/
ros_venv/
assets/
runs/
notebooks/runs/
*.egg-info/
yolo11n.pt

# Jupyter
.ipynb_checkpoints/

# Dataset / models (not committed)
data/
models/

# Raw bagfiles
bags/

# Logs
*.log
